* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%; /* Needed for flexbox centering */
  background-color: black; /* Uncommented since p is yellow */
  /* background: url(https://i.ytimg.com/vi/jfjXJpUNayg/maxresdefault.jpg); */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgb(15, 15, 15);
  font-size: 25px;
  direction: bold;
  font-weight: 40;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {

  max-width: 500px;
  padding: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 60px rgb(178, 32, 100);
  border-radius: 15px;

  /* Border animation using conic-gradient */
  background:
    linear-gradient(rgb(226, 185, 185)) padding-box,
    conic-gradient(from var(--rotate), rgb(255, 0, 123), black, rgb(255, 0, 123)) border-box;

  border: 5px solid transparent;

  animation: borderAnimate 4s linear infinite;
}


