*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .box{
    height: 200px;
    width: 400px;
    background-color: rgb(164, 158, 158);
    box-shadow: 0 0 40px rgb(43, 255, 0);
      box-shadow: inset 0 0 40px rgb(13, 14, 13);

}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: azure;
    text-shadow: 5px 5px  1px rgb(212, 56, 56);
} */


/* .box {
   
    height: 200px;
    width: 400px;
  
    background-color: blueviolet ;
    background: conic-gradient(from 0deg, red, yellow, blue, red);


} */
/*  animationforword  */
.box{
    height: 200px;
    width: 400px;
    animation: changeBackgroundColor 5s reverse ;
    
}

@keyframes changeBackgroundColor{
    from{
        background-color: white;
        border-radius: 0px;
        transform: translateX(0px);
        visibility: visible;
        scale: 1;
       
    }
    to {
        background-color: red;
         border-radius: 50px;
        transform: translateX(100px);
        visibility: hidden;
        scale: 0.5;

    }
}

