* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  /* background-color: #111; */
  align-items: center;
}

div{
    color: aqua;
    border: 2px solid blue;
    padding: 2px;
    margin: 5px;
    justify-items: start;
}
h1{
  font-size: 50px;
}

button{
  background-color: rgb(87, 20, 220);
  padding: 10px 20px;
  margin-top: 20px;
}