*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}
html,
body{
    height:100%;
    width: 100%;
    cursor: none;
}
body{
    background-color: black;
}

main{
    height: 200%;
    width: 100%;
    /* background-color: rgb(15, 15, 21); */
}
#img{
    height: 200px;
    position: fixed;
    transform: translate(-50% ,-50%);
}