* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%; /* Needed for flexbox centering */
  background-color: black; /* Uncommented since p is yellow */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: yellow;
  font-size: 50px;
  direction: bold;
  font-weight: 400;
}
