* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

:root {
  /* --red:red; */
  --x: 400px;
  --y: 400px;
}




.video-song {
  position: relative;
  height: auto;
  width: auto;


}

.video-song::after {
  content: " ";
  inset: 0;
  position: absolute;
  background: radial-gradient(
    200px at var(--x) var(--y),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.907)
  );
} 

