* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(112, 191, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#container {
  height: 400px;
  width: 300px;
  border-radius: 10px;
}
#container img {
  padding: 5px;
  margin: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 5px solid white;
}
#container i {
  color: antiquewhite;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: all ease 0.4s;
}
