<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home pages</h1>
    <h3><%= 2+2%></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Maxime optio nisi dolorem 
         sunt saepe amet corrupti eaque dignissimos.
          Quasi voluptatibus suscipit quidem maiores, 
          rerum aliquid itaque ullam impedit asperiores 
           voluptatum.
    </p>
    <button>click me</button>
</body>
</html>