* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(142, 39, 39);
}

div{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius: 10px;
    border: 5px solid white;

}
button{
    border-radius: 10px;
    font-size:15px ;
    font-weight: 600;
    border: 5px solid white;
    height: 50px;
    width: 100px;
    background-color: rgb(175, 32, 60);
}